version: 2
updates:
  # Rust dependencies
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily" # no specific time
    open-pull-requests-limit: 999 # effectively no limit

  # GitHub Actions workflows
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily" # no specific time
    open-pull-requests-limit: 999 # effectively no limit
